.Stage {
    background-color: lightslategray;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 1vh 1vw;
    min-height: 5%;
    min-width: 20%
}

.span-disabled {
    color: red
}

.span-enabled:hover {
    cursor: pointer;
    color: rgb(243, 255, 235)
}

.stage-margin {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    user-select: none;
}