.Navbar {
    border-bottom: 2px solid black;
    background-color: skyblue;
    margin-bottom: 2vh;
}

button a {
    color: black
}

.font-icon {
    color: rgb(87, 87, 87);
    font-size: x-large;
    padding: 0 2vw;
}

.font-icon:hover {
    color: orange;
}