.container-custom {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.container-text {
    padding-left: 2rem;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.transform {
    transform: translateX(30%)
}